html,
body {
}

.navbar {
	background-color: #34495e;
	height: 60px;
}

#sidenav {
	padding: 0;
}

#mainarea {
	background-color: white;
	padding: 20px;
}

.sidebar {
	background-color: #2c3e50;
	height: 2069px;
	position: fixed;
	z-index: 100;
}

.sidebar a {
	display: block;
	color: white;
	padding: 16px;
	text-decoration: none;
}

.sidebar a.active {
	color: white;
}

.sidebar a:hover:not(.active) {
	background-color: #2980b9;
	color: white;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.sidebar a {
		float: left;
	}

}

@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

.navsearch {
	float: left;
	width: 100%;
	padding: 5px;
	padding-left: 15px;
	height: 30px;
	border-radius: 30px;
	outline: none;
	border: none;
}

.btn {
	margin-left: 5px;
	padding: 0px 5px 0px px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
